body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #0D6EFD;
}

#auth-page #ilustration-img {
    display: none;
}

@media (min-width: 768px) {
    #auth-page #ilustration-img {
        display: initial;
    }
}